@using Microsoft.AspNetCore.Identity;
@using TaxiDriverManager.Models.AccountViewModels;
@using TaxiDriverManager.Models;
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4" style="border: 1px solid grey; margin-top: 250px; padding: 20px;    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                        0px 10px 20px rgba(0,0,0,0.05),
                        0px 20px 20px rgba(0,0,0,0.05),
                        0px 30px 20px rgba(0,0,0,0.05);
                        ">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <button type="submit" style="background-color: #f0ad4e; color: white" class="btn btn-default">Log in</button>
                    </div>
                </div>
                <!-- <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p> -->
                </div>
            </form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
